#{extends 'main.html' /} #{set title:'The Quiz' /}

<div>


    <div class="w3-cell-row">
        <div class="w3-container w3-cell w3-left">
            <img src="@{'/public/images/logo.jpg'}" alt='logo' />
        </div>
        <div class="w3-container w3-cell w3-left w3-text-blue">
            <div style='margin-left: 50px;'>
            <span id="id-count-down-timer" style='font-size:100px;'></span>
            <span style='margin-left:10px; font-size:50px;'>seconds</span>
            </div>
            
        </div>
        <div class="w3-container w3-cell w3-left">
            <img src="@{'/public/images/logo.jpg'}" alt='logo' />
        </div>
    </div>

</div>
<div>

    <table id='id-table-quiz-teams' class="w3-table w3-striped">

        <tr id='id-table-quiz-teams-header-row'>
            <th style='width: 5%'>Rank</th>
            <th>Team</th>
            <th style='width:10%'>Score</th>
        </tr>

        #{list items:teams, as:'team'}
        <tr class='table-row-teams'>
            <td>${team_index}</td>
            <td>${team.mName}</td>
            <td>${team.mScore}</td>
        </tr>
        #{/list}

    </table>


</div>


<audio id="id-buzzer-audio" src="@{'/public/count-down-timer.wav'}"></audio>

<script src="@{'/public/javascripts/index.js'}" type="text/javascript"></script>

<script type="text/javascript">

    $(document).ready(function () {
        console.log("document is ready");

		/////////////////////////////////////
		// begin Custimizations
        g_countDownTimerMax = 15;
		g_amountTeams = 10;
		
        g_countDownIntervalId = 0;       
        g_teamNameFadeInMilliSeconds = 1000;
		//
		// end Custimizations

        $("#id-count-down-timer").text(g_countDownTimerMax);

        setInterval(function () {

            checkEvents();

        }, 500);

    });




</script>